@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    @apply bg-white rounded-2xl text-white h-16 flex justify-center items-center mx-4 md:mx-20; 
}

.header2 {
    @apply bg-white rounded-3xl h-auto md:h-[400vh] mx-4 md:mx-20 pt-10;
}

.header3 {
    @apply bg-gray-200 text-white rounded-3xl h-16 flex justify-center items-center mx-4 md:mx-20 ;
}

.my-notes-button, .reminder-button, .task-tracker-button, .my-profile-button, .check-button, .delete-button {
    @apply bg-white text-black border border-black rounded-sm cursor-pointer transition duration-200;
}

.my-notes-button,
.reminder-button,
.task-tracker-button {
    @apply h-8 w-20 md:w-24 ml-2; 
}

.my-profile-button {
    @apply bg-gray-900 text-white h-9 w-24 md:w-28 rounded-sm mx-auto; 
}

.check-button, .delete-button {
    @apply bg-gray-900 text-white h-8 w-8 rounded-sm;
}

.my-profile-button:hover,
.my-notes-button:hover,
.reminder-button:hover,
.task-tracker-button:hover,
.check-button:hover,
.delete-button:hover {
    @apply bg-gray-900 text-white shadow-lg;
}

.my-profile-button1 {
    @apply bg-gray-900 text-white h-7 text-xs md:text-sm w-16 md:w-20 rounded-sm transition duration-200; 
}

.container1 {
    @apply flex justify-center items-center p-2; 
}

@media (min-width: 768px) {
    .container1 {
        @apply w-4/5 mx-auto;
    }

    .header,
    .header3 {
        @apply mx-40;
    }

    #search-form {
        @apply flex justify-center m-5 min-w-[450px];
    }

    #search-input {
        @apply p-2 text-lg border border-gray-300 rounded;
    }
}

.dark-mode {
    @apply bg-gray-700 text-black;
}

.dark-mode .bg-gray-600,
.dark-mode .bg-white,
.dark-mode .header,
.dark-mode .header2,
.dark-mode .my-profile-button,
.dark-mode .div1,
.dark-mode p,
.dark-mode .header3 {
    @apply bg-gray-800 text-white;
}

.dark-mode .header2 h1,
.dark-mode .header2 h3 {
    @apply text-white;
}

.dark-mode .notes {
    @apply bg-gray-800;
}
